.DS_Store
Aborrar.md
Info.ipynb
Pruebas*.ipynb

./Data/sst.day.mean.2019.nc
./Data/6901472/6901472_BRtraj.nc
./Data/6901472/profiles/*

Data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/
docs/generated/

# Jupyter Notebook
.ipynb_checkpoints
cache
.idea
local_work

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual studio code
.vscode/

# Spyder project settings
.spyderproject
.spyproject
