.DS_Store
Aborra.md

Data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/
docs/generated/

# Jupyter Notebook
.ipynb_checkpoints
cache
.idea
local_work

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject
