.DS_Store
Info.ipynb

# Testing folder
Prueba
Prueba*
./Prueba/*

# Data folder
*ArgoData
Data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
_build/
_build/*
docs/generated/

# Jupyter Notebook
.ipynb_checkpoints
cache
.idea
local_work
tmp/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual studio code
.vscode

# Spyder project settings
.spyderproject
.spyproject
